*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 40px auto;
  max-width: 800px;
}
.rokkitt{
  font-family: 'Rokkitt', serif;
}
.roboto{
  font-family: 'Roboto', sans-serif;
}
hr{
  width: 30px;
  height: 5px;
  background-color: #000;
}
/*.content-game{
  display: block;
  margin: 40px auto;
}*/
img{
  width: 350px;
  height: 300px;
}
.content-game{
	background-color: #333333;
	color: white;
	padding: 4rem;
}
.box-img-game{
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}
