*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 40px auto;
  max-width: 750px;
}
.rokkitt{
  font-family: 'Rokkitt', serif;
}
.roboto{
  font-family: 'Roboto', sans-serif;
}
hr{
  width: 30px;
  height: 5px;
  background-color: #000;
  margin-top: 0;
}
input[type="text"]{
	color: rgb(62, 64, 63);
	width: 100%;
}
select{
	background-color: #ccc;
	margin-left: 10px;
	width: 200px;
}
img{
  width: 100%;
  height: 100%;
}
.content-game{
	background-color: #333333;
	color: white;
	padding: 4rem;
  height: 230px;
}
.float-right{
  float: right;
}
.no-pad{
  padding-right: 0;
  padding-left: 0;
}
.box-img-game{
  height: 230px;
}
button{
	background-color: #F9A91A;
	border: none;
	color: #fff;
	padding: 7px;
	margin-top: 7%;
	margin-bottom: 7%;
}

.content-game p{
  color: #fff;
  font-size: 2rem;
  font-weight: lighter;
}
